<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.O.S đăng nhập</title>
    <!-- CSS only -->
    <!-- COMMON TAGS -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <meta charset="utf-8">
    <title>Teenager coin - Cryptocurrency project for teenager</title>
    <!-- Search Engine -->
      <meta name="description" content="Teenager coin - Tiền ảo cho giới trẻ">
  <meta name="image" content="https://f58-zpg-r.zdn.vn/4945080453060739594/89d73fc7cf31006f5920.jpg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Teenager coin - Tiền ảo cho giới trẻ">
  <meta itemprop="description" content="Dự án tiền điện tử dành cho thanh thiếu niên. Được phát triển bởi đội ngũ dev Việt Nam. Chạy trên testnet của binance. Và có những cơ sở hạ tầng như sàn giao dịch riêng của TEEN.">
  <meta itemprop="image" content="https://f58-zpg-r.zdn.vn/4945080453060739594/89d73fc7cf31006f5920.jpg">
  <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
  <meta property="og:title" content="Teenager coin - Tiền ảo cho giới trẻ">
  <meta property="og:description" content="Dự án tiền điện tử dành cho thanh thiếu niên. Được phát triển bởi đội ngũ dev Việt Nam. Chạy trên testnet của binance. Và có những cơ sở hạ tầng như sàn giao dịch riêng của TEEN.">
  <meta property="og:image" content="https://f58-zpg-r.zdn.vn/4945080453060739594/89d73fc7cf31006f5920.jpg">
  <meta property="og:url" content="https://teenownsystem.pythonanywhere.com/inter">
  <meta property="og:site_name" content="Teenager coin own system site">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="Teenager coin - Tiền ảo cho giới trẻ">
  <meta property="twitter:description" content="Dự án tiền điện tử dành cho thanh thiếu niên. Được phát triển bởi đội ngũ dev Việt Nam. Chạy trên testnet của binance.">
  <meta property="twitter:image:src" content="https://f58-zpg-r.zdn.vn/4945080453060739594/89d73fc7cf31006f5920.jpg">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<br>
<body>
<div class="container">
    <br>
    <h1 class="text-dark title is-1">Chuyển qua địa chỉ T.O.S</h1>
    <br>
    <div class="card shadow" style="border-radius: 5px; margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */" >
        <div class="class-header" style="background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);border-top-radius:5px;height:20px;"><p>    </p></div>
      <div class="card-body">
        <form action="/transfer/by/real/address" method="POST" enctype="multipart/form-data" style="width:100%;">
          <div class="mb-3 form-group">
            <label for="to_address" class="form-label text-dark">Địa chỉ ví</label>
            <input type="text" class="form-control shadow-lg" id="to_address" name="to_address" style="background-color:#ecf0f3; width:100%;border-radius:5px ;" />
          </div>
          <div class="mb-3 form-group">
            <label for="private_key" class="form-label text-dark">Private key của bạn</label>
            <input type="password" class="form-control shadow-lg" id="private_key" name="private_key" style="background-color:#ecf0f3; width:100%;border-radius:5px ;;" />
          </div>
            <div class="mb-3 form-group">
            <label for="value" class="form-label text-dark">Số coin cần chuyển</label>
            <input type="text" class="form-control shadow-lg" id="value" name="value" style="background-color:#ecf0f3; width:100%;border-radius:5px ;" />
          </div>
          <button type="submit" id="btn" class="btn text-light shadow" style="width:100%;border-radius:5px;background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);margin-top: 10px;margin-bottom: 10px;">Chuyển</button>
      </form>
       </div>
  </div>

</div>
</body>
</html></title>
</head>
<body>

</body>
</html>